* {
  box-sizing: border-box !important; }

body {
  background-color: silver; }

.container {
  width: 100%;
  margin-left: 10px;
  margin-top: 70px; }
  .container:after {
    content: " ";
    display: table;
    clear: both; }

.row {
  margin-right: 20px; }

#homeContent {
  background-color: grey;
  height: 100vh;
  padding: 10px; }

#lists {
  display: inline-block; }

select {
  width: 100%;
  -webkit-appearance: menulist-button;
  margin-bottom: 10px; }

.panel {
  width: 70%; }
